*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
#hero-section{
    font-size: 20px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #575757;
}
#hero-section h1{
    margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
}
#hero-section p{
    margin: 40px 0;
}
.left-hero{
    position:absolute;
    top: 30%;
    left: 20%;

}
.right-hero{
    position: absolute;
    top: 10%;
    left: 50%;
}
.left-section{
    width: 35%;
}
.right-section{
    width: 40%;

}
 img{
    max-width: 500px;
}
 .hero-img{
    position: absolute;
    left: -13%;
    top: -4%;
}
.shape img{
        width: 400px;
}

span{
    background: linear-gradient(to right, #ffe600 0%, #ff0000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn{
    font-size: 16px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #ffa600, #ff2f2f);
    margin: 20px 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


#about-section{
    background: url('images/shapes/7.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    text-align: start;
    font-size: 18px;
    font-weight: 300;
}
#about-section h1{
    text-align: center;
}

#about-section img{
    width: 300px;
}
.about-left{
    position: relative;
    top: 25%;
    left: 15%;
}
.about-right{
    position: relative;
    top: 40%;
    left: 20%;
    line-height: 30px;
}
.about-right p{
    margin: 30px;
}
h1{
    color: #575757
}
